.col-sm-9{
    border: lawngreen;
    border-style: solid;
    border-width: 5px;
}
.col-md-2{
    border-width: 5px;
    border-style: solid;
    
}
.col-md-8{
    border-width: 5px;
    border-style: solid;
    
}
.row{
    border: rgb(212, 108, 22);
    border-style: solid;
    border-width: 5px;  
}